/* .img{
    background: url('https://www.apple.com/newsroom/images/2023/09/apple-introduces-the-advanced-new-apple-watch-series-9/article/Apple-Watch-S9-hero-230912_Full-Bleed-Image.jpg.xlarge.jpg');
    max-width: 100%;
    height: 300px;
    background-size: cover;
    /* background-repeat: no-repeat; */
